
@media (min-width: 1240px) and (max-width: 1430px) {
  .header__toplist-item {
    margin-right: 35px;
  }
  .header__botlist-item {
    margin-right: 60px;
  }

  .swiper-img {

    width: 280px;
    max-height: 280px;

  }
  
}

@media (min-width: 1025px) and (max-width: 1240px) {
  .header__logo {
    margin-right: 30px;
  }
  .header__toplist-item {
    margin-right: 27px;
  }
  .header__botlist-item {
    margin-right: 20px;
  }
}


@media (min-width: 768px) and (max-width: 1024px) {

  .container-inside {
    max-width: 894px;
  }

  .header__navigation {
    display: none;

  }

  .header__enter{
    display: none;
  }

  .header__bottom{
    display: none;
  }

  .header__burger{
    margin-right: auto;
  }

  .header__logo {
    margin-right: auto;
  }

  .choices__inner {
    max-width: 280px;
  }
  .choices__list--dropdown {
    max-width: 280px;

  }






}