@font-face {
  font-family: 'open_sans';
  src: url('fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'open_sans';
  src: url('fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'open_sans';
  src: url('fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  font-family: 'open_sans';
  font-weight: 400;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h2,
h3,
h4,
h5,
p {
  margin: 0px;
}

h2 {
  font-size: 48px;
  line-height: 65px;
  color: #333333;
  font-weight: 400;
}

a {
  color: #FFFFFF;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:focus {
  outline: 0;
}

a:focus-visible {
  outline: 2px solid #7943A4;
  outline-offset: 6px;
}

a:hover {
  color: #C283F3;
  cursor: pointer;
}

a:active {
  color: #7943A4;
}

.container-inside {
  max-width: 1630px;
  padding: 0 15px;
  margin: 0 auto
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.header {
  position: absolute;
  width: 100%;
}

.header__top {
  background-color: #000000;
}

.header__container-top {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__burger {
  display: none;
}

.header__top-search {
  display: none;
}

.header__logo {
  margin-right: 179px;
}

.header__nav-list {
  display: flex;
  flex-direction: row;
}

.header__navigation {
  margin-right: auto;
}

.header__toplist-item {
  margin-right: 63px;
}

.header__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.header__exit {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  background-image: url(img/x.png);
  background-size: cover;
}

.header__exit:focus {
  outline: none;
}

.header__enter {
  padding-left: 20px;
  font-size: 18px;
  line-height: 25px;
  background-image: url(img/arrow_enter_white.png);
  background-repeat: no-repeat;
  background-position: center left;
}

.header__enter:hover {
  padding-left: 22px;
  background-image: url(img/arrow_enter_hover.png);
  color: #C283F3;
}

.header__enter:active {
  padding-left: 22px;
  background-image: url(img/enter_active.png);
  color: #9D5CD0;
}

.header__bottom {
  background-color: rgba(0, 0, 0, 0.4);
}

.header__container-bottom {
  padding-top: 23px;
  padding-bottom: 21px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__list {
  display: flex;
  flex-direction: row;
  margin-right: auto;
}

.header__botlist-item {
  margin-right: 98px;
  font-size: 18px;
  line-height: 25px;
}

.header__button {
  padding: 0 2px 0 0;
  border: transparent;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #FFFFFF;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.violet {
  color: #7943A4;
}

/* arrows */

.header__arrow {
  margin-left: 5px;
  width: 7.07px;
  height: 7.07px;
  border-left: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.open {
  margin-top: 4px;
  border-left: 2px solid #7943A4;
  border-bottom: 2px solid #7943A4;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

/* arrows end */

.header__button:hover {
  color: #C283F3;
  cursor: pointer;
}

.header__button:hover .header__arrow {
  border-left: 1px solid #C283F3;
  border-bottom: 1px solid #C283F3;
}

.header__button:focus {
  outline: 0;
}

.header__button:focus-visible {
  outline: 2px solid #7943A4;
  outline-offset: 6px;
}

.header__search {
  display: flex;
  flex-direction: row;
}

.header__search:focus {
  outline: 2px solid #7943A4;
  outline-offset: 6px;
}

.header__input {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  width: 218px;
  font-family: 'open_sans';
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
  caret-color: #C283F3;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.header__search-button {
  margin-top: 4px;
  margin-right: 9px;
  border: none;
  background-image: url(img/search_icon.png);
  background-color: transparent;
  background-position: center;
  width: 22px;
  height: 22px;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.header__search:hover .header__input {
  border-bottom: 1px solid #C283F3;
  cursor: pointer;
}

.header__search:hover .header__search-button {
  background-image: url(img/search_icon_violet.png);
}

.header__search-button:focus {
  outline: 0;
}

.header__search-button:focus-visible {
  outline: 2px solid #7943A4;
  outline-offset: 8px;
}

.header__input:focus {
  outline: none;
}

.header__input:focus-visible {
  outline: 2px solid #7943A4;
  outline-offset: 4px;
}

.header__input::placeholder {
  font-weight: 400;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.85);
}

/* !!!!!!!!!!!!!!!!!!!!!!   начало выпадающих   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.header__scroll {
  display: none;
  position: absolute;
  top: 170px;
  width: 300px;
  height: 300px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.4);
  list-style-type: none;
}

.simplebar-scrollbar::before {
  left: 0;
  top: 0;
  max-width: 2px;
  width: 2px;
  background-color: #9D5CD0;
  border-radius: 0px;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}

.simplebar-track {
  max-width: 2px;
  background-color: #000000;
  margin-top: 40px;
  right: 12px;
  bottom: 40px;
}

.simplebar-track .simplebar-scrollbar {
  min-width: 2px;
  width: 2px;
}

.header__scroll-elem {
  width: 220px;
  height: 40px;
  margin-bottom: 20px;
  transition: all 0.7s ease;
}

.header__scroll-elem:hover {
  box-shadow: 0 0 0 2px #9D5CD0;
}

.header__scroll-elem:last-child {
  margin-bottom: 0;
}

.header__scroll-elem_1 {
  background-image: url(img/tinto.svg);
}

.header__scroll-elem_2 {
  background-image: url(img/fridrickh.svg);
}

.header__scroll-elem_3 {
  background-image: url(img/leonardo.svg);
}

.header__scroll-elem_4 {
  background-image: url(img/vero.svg);
}

.header__scroll-text {
  height: 100%;
  padding-top: 9px;
  padding-left: 14px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
}

.header__scroll-text:hover {
  color: #FFFFFF;
}

.header__scroll-text:focus {
  outline: none;
}

.header__scroll-text:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4))
}

.header__scroll .header__scroll-elem {
  cursor: pointer;
}

.header__scroll .header__scroll-elem>a {
  display: block;
  text-decoration: none;
}

/* !!!!!!!!!!!!!!!!!!!!!!   конец выпадающих   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.hero {
  width: 100%;
  background-image: url(img/hero_1.jpg);
  background-size: cover;
  animation: backgroundAnimation 30s linear infinite;
}

.hero__container {
  padding-top: 240px;
  padding-bottom: 145px;
}

@keyframes backgroundAnimation {
  0% {
    background-size: 100% 100%;
  }

  50% {
    background-size: 110% 110%;
  }

  100% {
    background-size: 100% 100%;
  }
}

.hero__header {
  max-width: 597px;
  font-weight: 800;
  font-size: 72px;
  line-height: 82px;
  color: #FFFFFF;
  margin-bottom: 22px;
}

.hero__text {
  max-width: 597px;
  margin-bottom: 114px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
}

.hero__map-link {
  width: 314px;
  padding: 23px 35px;
  border-radius: 100px;
  border: 1px solid #9D5CD0;
  background-color: #9D5CD0;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  font-weight: 700;
  transition: all 0.3s ease-in;
}

.pseudo {
  position: relative;
  z-index: 10;
}

.pseudo:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 2px;
  border: 2px solid #C283F3;
  border-radius: inherit;
  opacity: 0;
}

.offset:after {
  top: -6px;
  left: -6px;
  padding: 4px;
}

.hero__map-link:focus {
  outline: none;
}

.pseudo:focus-visible::after {
  opacity: 1;
}

.hero__map-link:hover {
  box-shadow: 0 0 0 3px #D1A9F0;
  cursor: pointer;
  color: #FFFFFF;
}

.hero__map-link:active {
  background-color: #7943A4;
  box-shadow: 0 0 0 3px #D1A9F0;
  outline: none;
}

.about-us__container {
  padding-top: 80px;
  padding-bottom: 69px;
}

.about-us__header {
  margin-bottom: 17px;
}

.about-us__text {
  max-width: 1082px;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  font-weight: 400;
}

.gallery {
  width: 100%;
  background-image: url(img/gallery_back.jpg);
  background-size: cover;
}

.gallery__two-sections {
  display: flex;
  flex-direction: row;
  padding-top: 79px;
  padding-bottom: 78px;
}

.gallery__left {
  margin-right: 50px;
  max-width: 610px;
  display: flex;
  flex-direction: column;
}

.gallery__header {
  color: #FFFFFF;
  margin-bottom: 15px;
}

.gallery__filter {
  margin-bottom: 12px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
}

.gallery__select {
  margin-bottom: auto;
}

/* !!!!!!!!!!!!!!!!!!!!!!   начало селектов   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.choices__inner {
  width: 400px;
  padding-left: 15px;
  border-radius: 6px;
  background-color: transparent;
  font-size: 16px;
  border: 1px solid #FFFFFF;
  height: 40px;
  min-height: 40px;
  color: #FFFFFF;
}

.choices__list--single {
  padding: 0;
}

.choices__placeholder {
  opacity: 1
}

.is-open .choices__inner {
  border-radius: 6px;
  border: 1px solid #FFFFFF;
}

.choices__list--dropdown {
  width: 400px;
  border-radius: 6px;
  background-color: transparent;
  color: #FFFFFF;
}

.is-open .choices__list--dropdown {
  border-color: #999999;
  border-radius: 6px;
  background-color: transparent;
  color: #FFFFFF;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: transparent;
}

.is-selected {
  display: none;
}

.choices__list--dropdown .choices__item {
  padding-left: 15px;
  font-size: 16px;
  border-bottom: 1px solid #999999;
  height: 40px;
  min-height: auto;
  color: #999999;
}

.choices__list--dropdown .choices__item:last-child {
  border-bottom: none;
}

.choices[data-type*=select-one]:after {
  right: 15px;
  top: 17px;
  width: 8px;
  height: 8px;
  border-width: 0;
  border-right: 1px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.choices[data-type*=select-one].is-open:after {
  top: 26px;
  border-right: 1px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
  -webkit-transform: rotate(-45deg);
  -moz-: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* !!!!!!!!!!!!!!!!!!!!!!   конец селектов   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.gallery__text {
  max-width: 400px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
}

.gallery__text_adaptive {
  display: none;
}

.gallery__authorize {
  color: #C283F3;
  border-bottom: 1px solid transparent;
}

.gallery__authorize:hover {
  border-bottom: 1px solid #C283F3;
}

.gallery__authorize:active {
  color: #7943A4;
  border-bottom: 1px solid #7943A4;
}

.gallery__right {
  max-width: 1150px;
  width: 100%;
  padding-top: 25px;
}

.swiper-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

.swiper-buttons__button {
  width: 30px;
  height: 30px;
  z-index: 10;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-buttons__button:focus {
  outline: none;
}

.button-black-prev {
  background-image: url(img/sw_black_left.png);
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.button-black-prev:hover {
  background-image: url(img/sw_3_left_hover.png);
}

.button-black-prev:focus-visible {
  background-image: url(img/sw_3_left_focus.png);
}

.button-black-prev:active {
  background-image: url(img/sw_3_left_active.png);
}

.button-black-next {
  background-image: url(img/sw_blsck_right.png);
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.button-black-next:hover {
  background-image: url(img/sw_3_right_hover.png);
}

.button-black-next:focus-visible {
  background-image: url(img/sw_3_right_focus.png);
}

.button-black-next:active {
  background-image: url(img/sw_3_right_active.png);
}

.swiper-buttons__counter {
  position: relative;
  top: 1px;
  width: fit-content;
  color: #FFFFFF;
  margin-left: 16px;
  margin-right: 13px;
  font-size: 16px;
  line-height: 32px;
}

.gallery__swiper-container {
  width: 100%;
  height: 750px;
}

.swiper-img {
  height: 350px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  background-size: cover;
}

.swiper-hover {
  position: absolute;
  margin: 25px 0 0 25px;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(img/swiper_1/swiper_hover.png);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: all 0.5s ease;
}

.swiper-active {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(194, 131, 243, 0.4);
  opacity: 0;
  transition: all 0.5s ease;
}

.swiper-img_1 {
  background-image: url(img/swiper_1/swiper_1.jpg);
}

.swiper-img_2 {
  background-image: url(img/swiper_1/swiper_2.jpg);
}

.swiper-img_3 {
  background-image: url(img/swiper_1/swiper_3.jpg);
}

.swiper-img_4 {
  background-image: url(img/swiper_1/swiper_4.jpg);
}

.swiper-img_5 {
  background-image: url(img/swiper_1/swiper_5.jpg);
}

.swiper-img_6 {
  background-image: url(img/swiper_1/swiper_6.jpg)
}

.swiper-img_7 {
  background-image: url(img/swiper_1/swiper_7.jpg);
}

.swiper-img_8 {
  background-image: url(img/swiper_1/swiper_8.jpg);
}

.swiper-img_9 {
  background-image: url(img/swiper_1/swiper_9.jpg);
}

.swiper-img_10 {
  background-image: url(img/swiper_1/swiper_10.jpg);
}

.swiper-img_11 {
  background-image: url(img/swiper_1/swiper_11.jpg);
}

.swiper-img_12 {
  background-image: url(img/swiper_1/swiper_12.jpg);
}

.swiper-img_13 {
  background-image: url(img/swiper_1/swiper_13.jpg);
}

.swiper-img_14 {
  background-image: url(img/swiper_1/swiper_14.jpg);
}

.swiper-img_15 {
  background-image: url(img/swiper_1/swiper_15.jpg);
}

.swiper-img_16 {
  background-image: url(img/swiper_1/swiper_16.jpg);
}

.swiper-img_17 {
  background-image: url(img/swiper_1/swiper_17.jpg);
}

.swiper-img_18 {
  background-image: url(img/swiper_1/swiper_18.jpg);
}

.swiper-img:focus {
  outline: none;
  box-shadow: inset 0 0 0 3px #7943A4;
}

.swiper-img:hover {
  cursor: pointer;
}

.swiper-img:active {
  box-shadow: inset 0 0 0 2px #D1A9F0;
}

.swiper-img:active .swiper-active {
  opacity: 1;
}

.swiper-img:hover .swiper-hover {
  opacity: 1
}

.catalog {
  padding-top: 80px;
}

.catalog__top {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.catalog__tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.catalog__header {
  margin-right: 30px;
  color: #333333;
  font-weight: 400;
}

.catalog__list-item {
  padding: 10px;
  margin-right: 30px;
  width: 66px;
  height: 66px;
  border-radius: 100px;
}

.catalog__list-item:last-child {
  margin-right: 0px;
}

.catalog__button {
  padding: 0;
  width: 46px;
  height: 46px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 100px;
  border-style: none;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.catalog__button:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
}

.catalog__button:focus {
  outline: none;
}

.catalog__button:focus-visible {
  box-shadow: 0 0 0 2px #9D5CD0;
}

.catalog__button:active {
  box-shadow: 0 0 0 2px #9D5CD0;
}

.country-france {
  background-image: url(img/france.svg);
}

.country-german {
  background-image: url(img/german.svg);
}

.country-italy {
  background-image: url(img/italy.svg);
}

.country-russia {
  background-image: url(img/russia.svg);
}

.country-belgium {
  background-image: url(img/belgium.svg);
}

.country-active {
  box-shadow: 0 0 0 2px #9D5CD0;
  border-radius: 100px;
}

.catalog__text {
  max-width: 1080px;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 40px;
}

.catalog__two-sections {
  display: none;
}

.catalog__sections-visible {
  display: flex;
  flex-direction: row;
}

.catalog__right {
  width: 100%;
}

.catalog__tab-content {
  display: none;
}

.catalog__content {
  display: none;
}

.catalog__tab-content-active {
  display: flex;
}

.catalog__accordion {
  width: 100%;
}

.catalog__accordion-header {
  margin-top: -1px;
  width: 100%;
  padding-top: 31px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #cacaca;
  font-family: 'open_sans';
  font-weight: 600;
  font-size: 24px;
  line-height: 0px;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease, ;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.catalog__accordion-header:focus {
  outline: 0;
}

.catalog__accordion-header:focus-visible {
  outline: 2px solid #7943A4;
  outline-offset: 6px;
}

.catalog__accordion-header:nth-child(1) {
  border-top: 1px solid #CACACA;
}

.catalog__accordion-header:hover {
  color: #9D5CD0;
  cursor: pointer;
  border-top: 1px solid #9D5CD0;
  border-bottom: 1px solid #9D5CD0;
}

.ui-accordion-content-active {
  border-top: 1px solid #9D5CD0;
  border-bottom: 1px solid #9D5CD0;
}

.ui-accordion-header-active {
  border-bottom: 1px solid transparent;
}

.ui-accordion-header-active:hover {
  border-bottom: 1px solid transparent;
}

.ui-icon-plus {
  margin-left: auto;
  background-image: url(img/accordion_arrow_down.jpg);
  background-size: cover;
  width: 50px;
  height: 50px;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease, ;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.ui-icon-minus {
  margin-left: auto;
  background-image: url(img/accordion_arrow_up.jpg);
  background-size: cover;
  width: 50px;
  height: 50px;
}

.catalog__accordion-header:hover .ui-icon-plus {
  background-image: url(img/arrow_down_violet.png);
  background-size: cover;
}

.catalog__accordion-header:active {
  color: #7943A4;
}

.catalog__accordion-header:active .ui-icon-plus {
  background-image: url(img/arrow_active_violet.png);
  background-size: cover;
}

.catalog__wrap {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 46px;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(9, 32px);
  padding: 25px 0 28px 0;
}

.catalog__inside-links {
  color: #333333;
  font-size: 16px;
  line-height: 32px;
  border-bottom: 1px solid transparent;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.catalog__inside-links:hover {
  border-bottom: 1px solid #9D5CD0;
}

.catalog__inside-links:active {
  color: #7943A4;
}

.catalog__inside-links_active {
  color: #9D5CD0;
}

.catalog__invisible {
  display: none;
}

.catalog__visible {
  display: block;
}

.catalog__left-content {
  display: none;
}

.visible {
  display: block;
}



.catalog__left {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.catalog__img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.catalog__text-top {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 7px;
}

.catalog__text-mid {
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.catalog__text-bot {
  font-size: 16px;
  line-height: 32px;
}

.events__container {
  padding-top: 82px;
  padding-bottom: 77px;
}

.events__header {
  margin-bottom: 17px;
}

.events__swiper {
  width: 100%;
}

.events__wrapper {
  flex-wrap: wrap;
  justify-content: space-between;
}

.swiper-pagination_3 {
  display: none;

}

.swiper-pagination-bullet {
  background-color: #CACACA;
  width: 10px;
  height: 10px;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 7px;
}

.swiper-pagination-bullet-active {
  background-color: #666666;
}

.events__card {
  position: relative;
  margin-bottom: 50px;
  max-width: 500px;
  width: 100%;
  min-height: 700px;
  border: 1px solid #CACACA;
}

.events__wrapper::after {
  content: "";
  width: 500px;
  height: 0;
}

.events__text-block {
  padding: 0 30px 0 50px;
}

.events__img {
  width: 100%;
  height: auto;
  margin-bottom: 13px;
}

.events__text-top {
  max-width: 211px;
  width: 100%;
  margin-left: auto;
  margin-right: 19px;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
  text-align: right;
}

.events__text-mid {
  max-width: 420px;
  width: 100%;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
  margin-bottom: 7px;
}

.events__text-bot {
  max-width: 400px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  margin-bottom: auto;
}

.events__more {
  display: block;
  position: absolute;
  bottom: 43px;
  color: #9D5CD0;
  border-bottom: 1px solid #9D5CD0;
  padding-bottom: 3px;
}

.events__more:hover {
  font-weight: 700;
}

.events__more:active {
  font-weight: 700;
  color: #7943A4;
}

.events__button {
  width: 188px;
  height: 59px;
  display: block;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
  border: 2px solid #9D5CD0;
  background-color: #FFFFFF;
  font-size: 18px;
  line-height: 25px;
  color: #9D5CD0;
  font-weight: 700;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.events__button:hover {
  cursor: pointer;
  background-color: #9D5CD0;
  color: #FFFFFF;
}

.events__button:active {
  cursor: pointer;
  background-color: #7943A4;
  color: #FFFFFF;
}

.events__button:focus {
  outline: none;
}

.events__hidden {
  display: none;
}

.publications {
  width: 100%;
  background-image: url(img/pubs.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.publications__container {
  padding-top: 80px;
  padding-bottom: 78px;
  display: flex;
  flex-direction: row;
}

.publications__left {
  max-width: 340px;
  margin-right: 109px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.publications__header {
  color: #FFFFFF;
  margin-bottom: 15px;
}

.publications__categories {
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.publications__checkbox {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 0;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(12, 32px);
  margin-bottom: auto;
}

.publications__label {
  width: max-content;
  color: #FFFFFF;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.pseudo_outline:after {
  top: -7px;
  left: -10px;
  height: 27px;
  width: calc(100% + 20px);
  border: 2px solid #7943A4;
  opacity: 0;
}

input[type="checkbox"]:not(:checked):focus-visible+.pseudo_outline:after {
  opacity: 1;
}

.publications__check-item:hover input[type="checkbox"]:not(:checked)+label:before {
  border: 1px solid #C283F3;
}

.publications__check-item:hover .publications__label {
  color: #C283F3;
}

.publications__check-item:active input[type="checkbox"]:not(:checked)+label:before {
  border: 1px solid #7943A4;
}

.publications__check-item:active .publications__label {
  color: #7943A4;
}

.label {
  font-family: 'Open Sans';
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

input[type="checkbox"]:checked+label,
input[type="checkbox"]:not(:checked)+label {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 22px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 16px;
}

input[type="checkbox"]:checked+label {
  color: #C283F3;
}

input[type="checkbox"]:checked+label:before,
input[type="checkbox"]:not(:checked)+label:before {
  content: "";
  position: absolute;
  left: 0px;
  width: 12px;
  height: 12px;
}

input[type="checkbox"]:not(:checked)+label:before {
  border: 1px solid #FFFFFF;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

input[type="checkbox"]:checked+label:before {
  border: 1px solid #C283F3;
  background-image: url(img/check_point.png);
  background-repeat: no-repeat;
  background-position: center;
}

input[type="checkbox"]:checked+label:after,
input[type="checkbox"]:not(:checked)+label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.publications__header-inputs {
  margin-bottom: 7px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
  color: #FFFFFF;
}

.publications__inputs {
  width: 277px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
}

.publications__label-price {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 32px;
}

.publications__label-price-1 {
  margin-left: 9px;
  margin-right: 10px;
}

.publications__label-price-2 {
  margin-left: 7px;
  margin-right: 11px;
}

.publications__label-price-3 {
  margin-left: 12px;
  margin-right: 12px;
}

.publications__input-price {
  width: 73px;
  height: 100%;
  padding-left: 10px;
  background-color: rgba(157, 92, 208, 0.5);
  border: none;
}

.publications__input-price:focus {
  outline: none;
}

.publications__input-price:focus-visible {
  outline: 2px solid #C283F3;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.publications__input-price::-webkit-input-placeholder {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.publications__input-price:-moz-placeholder {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.publications__right {
  max-width: 1150px;
  width: 100%;
  padding-top: 30px;
}

.publications__swiper-container {
  width: 100%;
}

.publications__img {
  width: 100%;
  margin-bottom: 23px;
}

.publications__text {
  display: flex;
  flex-direction: row;
}

.publications__text-left {
  max-width: 60%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  font-weight: 700;
  text-overflow: ellipsis;
}

.publications__text-right {
  margin-left: auto;
  padding-right: 2px;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  font-style: italic;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.publications__text-bottom {
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  margin-bottom: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.publications__button {
  width: 120px;
  height: 40px;
  background: transparent;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  border: 2px solid #9D5CD0;
  border-radius: 100px;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.publications__button:hover {
  background-color: #9D5CD0;
  cursor: pointer;
}

.publications__button:active {
  background-color: #7943A4;
  border: 2px solid #9D5CD0;
}

.publications__button:focus {
  outline: none;
}

.projects__container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.projects__header {
  margin-bottom: 15px;
}

.projects__text {
  max-width: 1080px;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  position: relative;
  margin-bottom: 22px;
}

.projects__tooltip-img {
  width: 16px;
  height: 16px;
  position: absolute;
  background-image: url(img/tooltip_img.svg);
  margin-top: 7px;
}

.projects__tooltip-img:hover {
  cursor: pointer;
}

.projects__tooltip-img:focus {
  outline: none;
}

.projects__popup {
  color: #FFFFFF;
  position: absolute;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  padding-top: 8px;
  text-align: center;
}

.projects__popup-1 {
  opacity: 0;
  transition: opacity .3s ease-in-out;
  width: 264px;
  height: 59px;
  background-image: url(img/popup_1.svg);
  margin-left: -145px;
  margin-top: -55px;
}

.projects__popup-2 {
  opacity: 0;
  transition: opacity .3s ease-in-out;
  width: 264px;
  height: 74px;
  margin-left: -140px;
  margin-top: -70px;
  background-image: url(img/popup_2.svg);
}

.projects__popup-3 {
  opacity: 0;
  transition: opacity .3s ease-in-out;
  width: 232px;
  height: 42px;
  margin-left: -129px;
  margin-top: -38px;
  background-image: url(img/popup_3.svg);
}

.projects__tooltip-img:hover+.projects__popup-1 {
  opacity: 1;
}

.projects__tooltip-img:focus+.projects__popup-1 {
  opacity: 1;
}

.projects__tooltip-img:hover+.projects__popup-2 {
  opacity: 1;
}

.projects__tooltip-img:focus+.projects__popup-2 {
  opacity: 1;
}

.projects__tooltip-img:hover+.projects__popup-3 {
  opacity: 1;
}

.projects__tooltip-img:focus+.projects__popup-3 {
  opacity: 1;
}

.projects__link {
  color: #9D5CD0;
  border-bottom: 1px solid transparent;
}

.projects__link:hover {
  border-bottom: 1px solid #9D5CD0;
}

.projects__link:active {
  color: #7943A4;
  border-bottom: 1px solid #7943A4;
}

.projects__partners {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 23px;
}

.projects__swiper {
  position: relative;
}

.projects__slide {
  display: flex;
  flex-direction: row;
}

.projects__swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 0;
  max-width: 1450px;
}

.projects__swiper-button {
  width: 30px;
  height: 30px;
  z-index: 10;
  position: absolute;
  top: 40%;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  background-size: cover;
}

.projects__swiper-button:hover {
  cursor: pointer;
}

.projects__swiper-button:focus {
  outline: none;
}

.js-prev-3 {
  background-image: url(img/sw_3_left.png);
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  background-size: cover;
}

.js-prev-3:hover {
  background-image: url(img/sw_3_left_hover.png);
}

.js-prev-3:focus-visible {
  background-image: url(img/sw_3_left_focus.png);
}

.js-prev-3:active {
  background-image: url(img/sw_3_left_active.png);
}

.js-next-3 {
  background-image: url(img/sw_3_right.png);
  right: 0px;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  background-size: cover;
}

.js-next-3:hover {
  background-image: url(img/sw_3_right_hover.png);
}

.js-next-3:focus-visible {
  background-image: url(img/sw_3_right_focus.png);
}

.js-next-3:active {
  background-image: url(img/sw_3_right_active.png);
}

.projects__swiper-button:focus {
  outline: none;
}

.projects__swiper-button:focus-visible {
  outline: none;
}

.js-next-3 {
  margin-right: 0;
}

.projects__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.projects__img:focus {
  outline: none;
}

.projects__img:focus-visible {
  box-shadow: 5px solid #885BC7;
}

.projects__img:hover {
  cursor: pointer;
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
}

.contacts__header {
  margin-bottom: 16px;
}

.contacts__two-sections {
  display: flex;
  flex-direction: row;
}

.contacts__left {
  border-top: 1px solid #CACACA;
  border-right: 1px solid #CACACA;
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: calc((100% - 1600px) / 2);
  padding-right: 122px;
  display: flex;
  flex-direction: column;
}

.contacts__left-header {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 5px;
}

.contacts__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 25px;
}

.contacts__form {
  display: flex;
  flex-direction: column;
}

.contacts__callback {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 20px;
}

.contacts__form-item {
  width: 400px;
  height: 40px;
  border-radius: 100px;
  border: 1px solid #333333;
  margin-bottom: 22px;
  padding-left: 24px;
  font-size: 16px;
  line-height: 32px;
}

.contacts__form-item:focus {
  outline: none;
  border: 1px solid #9D5CD0;
}

.contacts__button {
  width: 157px;
  height: 59px;
  border-radius: 100px;
  border: 2px solid #9D5CD0;
  background-color: #FFFFFF;
  font-size: 18px;
  line-height: 25px;
  color: #9D5CD0;
  font-weight: 700;
  margin-bottom: 38px;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.contacts__button:hover {
  cursor: pointer;
  background-color: #9D5CD0;
  color: #FFFFFF;
}

.contacts__button:active {
  cursor: pointer;
  background-color: #7943A4;
  color: #FFFFFF;
}

.contacts__button:hover {
  cursor: pointer;
}

.contacts__button:focus {
  outline: none;
}

.contacts__one-click {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  color: #333333;
  margin-bottom: auto;
}

.contacts__social {
  display: flex;
  flex-direction: row;
}

.contscts__watsapp {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  background-image: url(img/watsapp.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.contscts__watsapp:hover {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.8));
}

.contacts__telegramm {
  width: 40px;
  height: 40px;
  background-image: url(img/telegramm.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.contacts__telegramm:hover {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 1));
}

.contacts__right {
  width: 100%;
  height: 698px;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

.contacts__map_2 {
  display: none;
  width: 100%;
  height: 320px;
}

.footer {
  background-color: #000000;
}

.footer__container {
  width: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer__logo {
  width: 173px;
  height: 40px;
  background-image: url(img/logo.svg);
}

.footer__social {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.footer__social-item {
  width: 45px;
  height: 45px;
  margin-right: 19px;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer__social-item:hover {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 1));
}

.footer__social-item:nth-child(3) {
  margin-right: 0;
}

.vk {
  background-image: url(img/vk.svg);
}

.inst {
  background-image: url(img/instagram.svg);
}

.facebook {
  background-image: url(img/fb.svg);
}

.hidden {
  display: none;
}

.shown {
  display: flex;
}